*{
    box-sizing: border-box;
}

body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}


/* FONTS */

    h1 {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 0px 0px 25px 0px;
        font-weight: 600; 
        font-size: 32;
        line-height: 46px;
    }

    h3 {
        text-decoration: underline;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 650;
        margin: 0px 0px 0px 0px; 
    }

    h4 {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 25px 0px 25px 0px; 
    }

    p {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        letter-spacing: 0.5px; 
        line-height: 26px;
        font-size: 18px;
    }

    b {
        font-weight: 600;
    }
    
    .align-center {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 600;
        font-size: 32px;
        color: red;
        text-align: center;
    }
    
    .align-left {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 600;
        font-size: 32px;
        color: red;
        padding-top: 85px; 
        padding-bottom: 22px;
        padding-left: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
    }





/* CAROUSEL */

/* Medium Laptop View */

/* @media screen and (max-width: 932px) and (min-width: 770px) {

    .carousel {
        width: 650px;
        height: 390px;
    }

    .carousel__cards {
        width: 320px;
    }

    .card-one, .card-two, .card-three {
        height: 390px;
    }

    .card-one-image, .home-card-two-image, .card-three-image {
        width: 320px;
    }

    .al-card-two {
        width: 320px;
    }

    .home-card-two-image {
        object-fit: scale-down;
        background-color: black;
    }

    .card-three-image {
        object-fit: cover;
    }

    .card-title-1 {
        font-size: 19px;
    }

    .card-words p {
        font-size: 13px;
    }

    .minute-read-container {
        width: 125px;
        height: 34px;
        font-size: 16px;
        margin-top: -46px;
        margin-bottom: 8px;
    }

    .read-more-button {
        font-size: 16px;
    }

    .carousel__indicator {
        width: 13px;
        height: 13px;
    }

    .carousel__indicator.current-slide {
        width: 22px;
        height: 22px;
    }

} */


/* CAROUSEL */

/* Small Laptop View */

/* @media screen and (max-width: 769px) and (min-width: 600px) {

    .carousel {
        width: 520px;
        height: 410px;   
    }

    .carousel__cards {
        width: 255px;
    }

    .card-one, .card-two, .card-three {
        height: 380px;
    }

    .card-one-image, .home-card-two-image, .card-three-image {
        width: 255px;
    }

    .al-card-two {
        width: 255px;
    }

    .home-card-two-image {
        object-fit: scale-down;
        background-color: black;
    }

    .card-three-image {
        background-color: rgba(8, 122, 163, 0.1);
    }

    .card-title-1 {
        font-size: 15px;
    }

    .card-words p {
        font-size: 12px;
        line-height: 18px;
    }

    .minute-read-container {
        width: 110px;
        height: 27px;
        font-size: 14px;
        margin-top: -39px;
    }

    .read-more-button {
        font-size: 14px;
    }

    .carousel__indicator {
        width: 13px;
        height: 13px;
    }

    .carousel__indicator.current-slide {
        width: 22px;
        height: 22px;
    }

    .carousel__nav {
        padding: 20px 0px;
    }
} */




/* CAROUSEL */

/* Tiny Laptop View */

/* @media screen and (max-width: 599px) and (min-width: 450px) {

    .carousel {
        width: 374px;
        height: 370px;   
    }

    .carousel__cards {
        width: 180px;
    }

    .card-one, .card-two, .card-three {
        height: 342px;
    }

    .home-blog-card-content {
        padding: 20px 20px;
    }

    .card-one-image, .home-card-two-image, .card-three-image {
        width: 180px;
        height: 150px;
    }

    .al-card-two {
        width: 180px;
    }

    .home-card-two-image {
        object-fit: scale-down;
        background-color: black;
    }

    .card-three-image {
        object-fit: cover;
    }

    .card-title-1 {
        font-size: 14px;
    }

    .card-words p {
        font-size: 10px;
        line-height: 18px;
    }

    .minute-read-container {
        width: 85px;
        height: 22px;
        font-size: 10px;
        margin-top: -35px;
        margin-bottom: 8px;
    }

    .read-more-button {
        font-size: 14px;
    }

    .carousel__indicator {
        width: 11px;
        height: 11px;
    }

    .carousel__indicator.current-slide {
        width: 20px;
        height: 20px;
    }

    .carousel__nav {
        padding: 20px 0px;
    } 
} */




/* CAROUSEL */

/* Mobile View */

/* @media screen and (max-width: 449px) {

    .carousel {
        width: 300px;
        height: 495px;   
    }

    .slide-row {
        display: initial;
    }

    .carousel__cards {
        width: 300px;
    }

    .card-one, .card-two, .card-three {
        height: 234px;
    }

    .carousel__cards {
        margin-bottom: 8px;
    }

    .home-blog-card-content {
        padding: 17px 20px;
    }

    .card-one-image, .home-card-two-image, .card-three-image {
        width: 300px;
        height: 93px;
    }

    .al-card-two {
        width: 300px;
    }

    .home-card-two-image {
        object-fit: cover;
        background-color: black;
        border-radius: 15px 15px 0px 0px;
    }

    .card-three-image {
        object-fit: cover;
    }

    .card-title-1 {
        font-size: 14px;
    }

    .card-words p {
        font-size: 10px;
        line-height: 18px;
    }

    .home-card-words p {
        line-height: 16px;
    }

    .minute-read-container {
        width: 80px;
        height: 25px;
        font-size: 10px;
        margin-top: -33px;
        margin-bottom: 0px;
    }

    .read-more-button {
        font-size: 12px;
        padding: 8px 23px;
    }

    .carousel__indicator {
        width: 11px;
        height: 11px;
    }

    .carousel__indicator.current-slide {
        width: 20px;
        height: 20px;
    }

    .carousel__nav {
        padding: 20px 0px;
    }  

    .carousel__button {
        top: 48.5%;
    }

    .carousel__button--right {
        right: -35px;
    }

    .carousel__button--left {
        left: -35px;
    }
} */






/* COOL SHIT PAGE */

/* Large Laptop View */

/* @media screen and (max-width: 950px) and (min-width: 800px) {

    .cool-shit-featured-section {
        height: 820px;
    }

    .cool-shit-featured-container {
        width: 780px;
    }

    .featured-posts-title {
        padding-top: 60px;
    }

    .hangman-video {
        height: 450px;
    }

    .cool-shit-highlights-section {
        height: 730px;
    }

    .cool-shit-highlights-container {
        width: 770px;
    }

    .highlights-img-container {
        width: 750px;
    }

    .highlights-img {
        width: 750px;
    }
} */

/* @media screen and (max-width: 799px) and (min-width: 650px) {

    .cool-shit-featured-section {
        height: 740px;
    }    

    .cool-shit-featured-container {
        width: 630px;
    }
    
    .featured-posts-title {
        padding-top: 50px;
    }
    
    .hangman-video {
        height: 360px;
    }

    .cool-shit-main-section {
        height: 1000px;
    }

    .cool-shit-main-container {
        margin-top: 100px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .cool-shit-row1-img-container {
        padding-right: 40px;
    }

    .cool-shit-row1-img {
        width: 380px;
    }

    .cool-shit-titles {
        font-size: 22px;
    }

    .cool-shit-row2 {
        margin-top: 120px;
    }

    .cool-shit-row2-img-container {
        padding-left: 40px;
    }

    .cool-shit-row2-img {
        width: 370px;
    }

    .highlights-title {
        padding-top: 60px;
        margin-bottom: 50px;
    }

    .cool-shit-highlights-section {
        height: 630px;
    }

    .cool-shit-highlights-container {
        width: 630px;
    }

    .highlights-img-container {
        width: 610px;
    }

    .highlights-img {
        width: 610px;
    }
} */

/* @media screen and (max-width: 649px) and (min-width: 550px) {

    .cool-shit-featured-section {
        height: 665px;
    }    

    .cool-shit-featured-container {
        width: 510px;
    }
    
    .featured-posts-title {
        padding-top: 35px;
        padding-bottom: 10px;
    }
    
    .hangman-video {
        height: 290px;
    }

    .cool-shit-main-container {
        margin-top: 80px;
        width: 430px;
    }

    .cool-shit-main-section {
        height: 1426px;
    }

    .cool-shit-row1 {
        display: initial;
        margin: 0 auto;
        width: 417px;
    }

    .cool-shit-row1-img-container {
        padding-right: 0px;
        width: 417px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .cool-shit-row1-text {
        margin: 0 auto;
        width: 417px;
    }

    .cool-shit-row2 {
        margin-top: 100px;
        flex-direction: column-reverse;
    }

    .cool-shit-row2-img-container {
        padding-left: 0px;
        margin-bottom: 20px;
    }

    .highlights-title {
        padding-top: 50px;
        margin-bottom: 40px;
    }

    .cool-shit-highlights-section {
        height: 580px;
    }

    .cool-shit-highlights-container {
        width: 530px;
    }

    .highlights-img-container {
        width: 510px;
    }

    .highlights-img {
        width: 510px;
    }
} */

/* @media screen and (max-width: 549px) and (min-width: 450px) {

    .cool-shit-featured-section {
        height: 625px;
    }    

    .cool-shit-featured-container {
        width: 430px;
    }
    
    .featured-posts-title {
        padding-top: 30px;
        padding-bottom: 8px;
    }
    
    .hangman-video {
        height: 245px;
    }   
    
    .cool-shit-main-container {
        margin-top: 80px;
        width: 430px;
    }

    .cool-shit-main-section {
        height: 1426px;
    }

    .cool-shit-row1 {
        display: initial;
        margin: 0 auto;
        width: 417px;
    }

    .cool-shit-row1-img-container {
        padding-right: 0px;
        width: 417px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .cool-shit-row1-text {
        margin: 0 auto;
        width: 417px;
    }

    .cool-shit-row2 {
        margin-top: 100px;
        flex-direction: column-reverse;
    }

    .cool-shit-row2-img-container {
        padding-left: 0px;
        margin-bottom: 20px;
    }

    .highlights-title {
        padding-top: 40px;
        margin-bottom: 40px;
    }

    .cool-shit-highlights-section {
        height: 540px;
    }

    .cool-shit-highlights-container {
        width: 440px;
    }

    .highlights-img-container {
        width: 420px;
    }

    .highlights-img {
        width: 420px;
    }
} */

/* @media screen and (max-width: 449px) {

    .cool-shit-featured-section {
        height: 625px;   
    }    

    .cool-shit-featured-container {
        width: 368px;
    }
    
    .featured-posts-title {
        padding-top: 30px;
        padding-bottom: 8px;
    }

    .cool-shit-video-container {
        margin-top: 20px;
    }
    
    .hangman-video {
        height: 205px;
    }

    .cool-shit-main-container {
        margin-top: 80px;
        width: 370px;
    }

    .cool-shit-main-section {
        height: 1283px;
    }

    .cool-shit-row1 {
        display: initial;
        margin: 0 auto;
        width: 417px;
    }

    .cool-shit-row1-img-container {
        padding-right: 0px;
        width: 340px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .cool-shit-row1-img {
        width: 340px;
    }

    .cool-shit-row1-text {
        margin: 0 auto;
        width: 340px;
    }

    .cool-shit-row2 {
        width: 346px;
        margin-top: 60px;
        flex-direction: column-reverse;
    }

    .cool-shit-row2-img-container {
        padding-left: 0px;
        margin-bottom: 20px;
        width: 346px;
    }

    .cool-shit-row2-img {
        width: 346px;
    }

    .highlights-title {
        padding-top: 40px;
        margin-bottom: 40px;
    }

    .cool-shit-highlights-section {
        height: 510px;
    }

    .cool-shit-highlights-container {
        width: 375px;
    }

    .highlights-img-container {
        width: 355px;
    }

    .highlights-img {
        width: 355px;
    }
} */


/* TOP TRUMPS */

/* Medium Laptop View */

/* @media screen and (max-width: 800px) and (min-width: 650px) {

    .game-title {
        font-size: 44px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .game-you-conatiner {
        width: 235px;
    }

    .back-card {
        width: 235px;
    }

    .card-container {
        width: 235px;
        height: 334px;
    }

    .card-image-container {
        width: 208px;
        height: 237px;
    }

    .card-content {
        width: 214px;
        height: 311px;
    }

    .card-image {
        width: 208px;
    }

    .card-info-container {
        width: 208px;
    }

    .winner-container {
        padding-left: 20px;
        padding-right: 20px;
        width: 150px;
        margin-top: 160px;
    }

    .winner {
        font-size: 33px;
    }

    .game-buttons-container {
        width: 360px;
    }

    .game-computer-container {
        width: 235px;
    }

    .grey-button, .ready-button {
        font-size: 20px;
    }
} */

/* Small Laptop View */

/* @media screen and (max-width: 649px) and (min-width: 550px) {

    .game-title {
        font-size: 40px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .game-you-conatiner {
        width: 205px;
    }

    .back-card {
        width: 205px;
    }

    .card-container {
        width: 205px;
        height: 299px;
    }

    .card-image-container {
        width: 180px;
        height: 205px;
    }

    .card-content {
        width: 186px;
        height: 279px;
    }

    .card-image {
        width: 180px;
    }

    .card-info-container {
        width: 180px;
    }

    .card-text {
        font-size: 26px;
    }

    .card-ovr {
        font-size: 45px;
    }

    .winner-container {
        padding-left: 10px;
        padding-right: 10px;
        width: 120px;
        margin-top: 160px;
    }

    .winner-text {
        font-size: 35px;
    }

    .winner {
        font-size: 30px;
    }

    .game-buttons-container {
        width: 320px;
    }

    .game-computer-container {
        width: 205px;
    }

    .grey-button, .ready-button {
        font-size: 16px;
    }
} */

/* @media screen and (max-width: 549px) and (min-width: 450px) {

    .game-title {
        font-size: 35px;
        margin-top: 27px;
        margin-bottom: 27px;
    }

    .game-you-conatiner {
        width: 169px;
    }

    .back-card {
        width: 170px;
    }

    .card-container {
        width: 170px;
        height: 246px;
    }

    .card-image-container {
        width: 145px;
        height: 165px;
    }

    .card-content {
        width: 151px;
        height: 227px;
    }

    .card-image {
        width: 145px;
    }

    .card-info-container {
        width: 145px;
        height: 56px;
    }

    .card-text {
        font-size: 20px;
        width: 85px;
    }

    .card-ovr {
        font-size: 40px;
        padding-top: 4px;
    }

    .winner-container {
        padding-left: 0px;
        padding-right: 0px;
        width: 90px;
        margin-top: 150px;
    }

    .winner-text {
        font-size: 28px;
    }

    .winner {
        font-size: 22px;
    }

    .game-buttons-container {
        width: 260px;
    }

    .game-computer-container {
        width: 169px;
    }

    .grey-button, .ready-button {
        font-size: 12px;
    }
} */


/* @media screen and (max-width: 449px) {

    .game-cards-container {
        display: initial;
    }

    .game-title {
        font-size: 25px;
        margin-top: 17px;
        margin-bottom: 7px;
        width: 158px;
    }

    .game-you-conatiner {
        width: 169px;
    }

    .you-back-card-container, .comp-back-card-container {
        margin-left: 10px;
    }

    .back-card {
        width: 140px;
    }

    .card-container {
        width: 140px;
        height: 193px;
        margin-left: 10px;
        padding: 7px;
        border-radius: 5px;
    }

    .card-image-container {
        width: 121px;
        height: 134px;
    }

    .card-content {
        width: 127px;
        height: 178px;
        border-radius: 5px;
    }

    .card-image {
        width: 121px;
        border-radius: 2px 2px 0px 0px;
    }

    .card-info-container {
        width: 121px;
        height: 38px;
        padding-top: 5px;
        border-radius: 0px 0px 2px 2px;
    }

    .card-text {
        font-size: 14px;
        width: 60px;
        padding-top: 5px;
    }

    .card-ovr {
        font-size: 30px;
        padding-top: 5px;
    }

    .winner-container {
        padding-left: 0px;
        padding-right: 0px;
        width: 100px;
        margin-top: 0px;
        margin-right: 30px;
        float: right;
    }

    .winner-text {
        font-size: 28px;
    }

    .winner {
        font-size: 30px;
    }

    .game-buttons-container {
        width: 350px;
        margin-top: 30px;
        height: 50px;
        justify-content: space-between;
    }

    .game-computer-container {
        width: 169px;
        margin-top: 17px;
    }

    .play-game-button, .next-hand-button {
        text-align: center;
        width: 175px;
    }

    .grey-button, .ready-button {
        font-size: 10px;
        padding: 20px 52px;
    }

} */




/* BLOG LISTING PAGE */

/* X Large Laptop View  */

/* @media screen and (max-width: 1300px) and (min-width: 1100px) {

    .featured-title {
        padding-top: 65px;
    }

    .featured-posts-container {
        width: 1080px;
    }

    .white-blog-card {
        width: 350px;
    }

    .white-blog-card-img {
        width: 346px;
        object-fit: scale-down;
    }

    .card-two-image {
        object-fit: scale-down;
        background-color: black
    }

    .al-card-img {
        background-color: #C0EEFF;
    }

    .white-card-three {
        object-fit: cover;
    }

    .blog-card-content {
        padding: 28px 32px;
    }

    .white-card-title {
        font-size: 21px;
    }

    .white-card-words p {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .minute-read-container-blue {
        margin-top: -53px;
        margin-bottom: 13px;
    }

    .minute-read-container {
        margin-top: -51px;
        margin-bottom: 8px;
    }

    .ab-minute-read {
        margin-top: -53px;
    }

    .all-blogs-container {
        width: 1090px;
    }

    .all-blogs {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        overflow: hidden;
        margin: 5px;
        width: 1080px;
    }

    .ab-card {
        width: 348px;
    }

    .all-blogs-img {
        width: 348px;
    }

    .ab-img-three {
        object-fit: cover;
    }
} */

/* Large Laptop View */

/* @media screen and (max-width: 1099px) and (min-width: 933px) {

    .featured-title {
        padding-top: 55px;
    }

    .featured-posts-container {
        width: 920px;
    }

    .white-blog-card {
        width: 297px;
        height: 440px;
    }

    .white-blog-card-img {
        width: 293px;
        object-fit: scale-down;
    }

    .card-two-image {
        object-fit: scale-down;
        background-color: black
    }

    .al-card-img {
        background-color: #C0EEFF;
    }

    .white-card-three {
        object-fit: cover;
    }

    .blog-card-content {
        padding: 28px 32px;
    }

    .white-card-title {
        font-size: 21px;
    }

    .white-card-words p {
        margin-top: 10px;
        margin-bottom: 13px;
        font-size: 17px;
    }

    .minute-read-container-blue {
        margin-top: -52px;
        margin-bottom: 8px; 
    } 
    
    .minute-read-container {
        margin-top: -48px;
        margin-bottom: 8px;
    }
    
    .all-blogs-container {
        width: 920px;
    }

    .all-blogs {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        overflow: hidden;
        margin: 5px;
        width: 905px;
        height: 910px;
    }

    .ab-card {
        width: 291px;
        height: 435px;
    }

    .all-blogs-img {
        width: 291px;
    }

    .ab-minute-read {
        margin-top: -52px;
    }

    .ab-img-one {
        object-fit: scale-down;
        background-color: white;
    }

    .ab-img-three {
        object-fit: cover;
    }

} */




/* Small Laptop View */

@media screen and (max-width: 769px) and (min-width: 600px) {

    /* .other-blogs-section {
        height: 660px;
    }

    .other-blogs-white {
        display: flex;
        flex-wrap: wrap;
    }

    .featured-title {
        padding-top: 55px;
        padding-bottom: 25px;
    }

    .featured-posts-section {
        height: 1100px;
    }

    .featured-posts-container {
        width: 576px;
    }

    .other-blogs-white {
        height: 900px;
    }

    .white-blog-card {
        width: 276px;
        height: 420px;
    }

    .white-blog-card-img {
        width: 272px;
        object-fit: scale-down;
    }

    .card-two-image {
        object-fit: scale-down;
        background-color: black
    }

    .al-card-img {
        object-fit: cover;
        width: 255px;
    }

    .white-card-three {
        object-fit: cover;
    }

    .blog-card-content {
        padding: 25px 30px;
    }

    .white-card-title {
        font-size: 20px;
    }

    .white-card-words p {
        margin-top: 10px;
        margin-bottom: 17px;
        font-size: 16px;
    }

    .minute-read-container-blue {
        margin-top: -50px;
        margin-bottom: 8px; 
    }  

    .al-minute-read {
        margin-top: -53px;
        margin-bottom: 8px;
    }

    .minute-read-container {
        margin-top: -42px;
        margin-bottom: 6px;
    }

    .all-blogs-section {
        height: 1520px;
    }

    .all-blogs-container {
        width: 576px;
        height: 1450px;
    }

    .all-blogs {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 5px;
        width: 566px;
        height: 1280px;
    }

    .ab-card {
        width: 276px;
        height: 410px;
        margin-left: 0px;
    }

    .all-blogs-img {
        width: 276px;
    }

    .ab-minute-read {
        margin-top: -49px;
        margin-bottom: 5px;
        height: 40px;
        width: 125px;
    }

    .ab-img-one {
        object-fit: scale-down
    }

    .ab-img-three {
        object-fit: cover;
    } */
}

/* Tiny Laptop View */

@media screen and (max-width: 599px) and (min-width: 450px) {

    /* .other-blogs-section {
        height: 580px;
    }

    .other-blogs-white {
        display: flex;
        flex-wrap: wrap;
    }

    .featured-title {
        padding-top: 55px;
        padding-bottom: 25px;
    }

    .featured-posts-section {
        height: 1000px;
    }

    .featured-posts-container {
        width: 450px;
    }

    .other-blogs-white {
        height: 815px;
    }

    .white-blog-card {
        width: 214px;
        height: 389px;
    }

    .white-blog-card-img {
        width: 210px;
        height: 150px;
        object-fit: scale-down;
    }

    .card-two-image {
        object-fit: scale-down;
        background-color: black;
        height: 150px; 
    }

    .al-card-img {
        object-fit: cover;
        background-color: rgba(8, 122, 163, 0.1);
        width: 180px;
        height: 150px;
    }

    .white-card-three {
        object-fit: cover;
    }

    .blog-card-content {
        padding: 20px 20px;
    }

    .white-card-title {
        font-size: 18px;
    }

    .white-card-words p {
        margin-top: 10px;
        margin-bottom: 17px;
        font-size: 14px;
    }

    .minute-read-container-blue {
        margin-top: -43px;
        margin-bottom: 8px; 
        height: 35px;
        width: 120px;
    } 

    .all-blogs-section {
        height: 1465px;
    }

    .all-blogs-container {
        width: 450px;
        height: 1440px;
    }

    .all-blogs {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 5px;
        width: 440px;
        height: 1260px;
    }

    .ab-card {
        width: 214px;
        height: 385px;
        margin-left: 0px;
    }

    .all-blogs-img {
        width: 214px;
        height: 150px;
    }

    .ab-minute-read {
        margin-top: -40px;
        margin-bottom: 5px;
        height: 32px;
        width: 100px;
        font-size: 14px;
    }

    .al-minute-read {
        margin-top: -35px;
        margin-bottom: 5px;
    }

    .ab-img-one {
        object-fit: scale-down;
        background-color: white;
    }

    .ab-img-three {
        object-fit: cover;
    } */
}

/* Mobile View */

@media screen and (max-width: 449px) {

    /* .other-blogs-white {
        display: flex;
        flex-wrap: wrap;
        height: 1244px;
    }

    .featured-title {
        padding-top: 45px;
        padding-bottom: 25px;
        font-size: 30px;
    } */

    /* .featured-posts-section {
        height: 1380px;
    }

    .featured-posts-container {
        width: 362px;
    } */

    /* .white-blog-card {
        width: 350px;
        height: 389px;
    }

    .white-blog-card-img {
        width: 346px;
        height: 183px;
        object-fit: scale-down;
    }

    .card-two-image {
        object-fit: scale-down;
        background-color: black;
        height: 93px;
    }

    .white-card-three {
        object-fit: cover;
    }

    .blog-card-content {
        padding: 20px 20px;
    }

    .white-card-title {
        font-size: 22px;
    }

    .white-card-words p {
        margin-top: 10px;
        margin-bottom: 17px;
        font-size: 16px;
    }

    .minute-read-container-blue {
        margin-top: -43px;
        margin-bottom: 8px; 
        height: 35px;
        width: 120px;
    } 

    .all-blogs-section {
        height: 2650px;
    }

    .all-blogs-container {
        width: 362px;
        height: 2650px;
    }

    .all-blogs {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 5px;
        width: 352px;
        height: 2467px;
    }

    .ab-card {
        width: 350px;
        height: 385px;
        margin-left: 0px;
    }

    .all-blogs-img {
        width: 350px;
        height: 183px;
    }

    .ab-minute-read {
        margin-top: -40px;
        margin-bottom: 5px;
        height: 32px;
        width: 100px;
        font-size: 14px;
    }

    .ab-img-one {
        object-fit: scale-down;
        background-color: white;
    }

    .ab-img-three {
        object-fit: cover;
    } */
}

/* BLOG POST - I LOVE WRESTLING */

/* Large laptop View */

/* @media screen and (max-width: 933px) and (min-width: 770px) {

    .other-blogs-section {
        height: 645px;
    }

    .other-blogs-container {
        width: 663px;
    }

    .blog-header-image {
        margin: 54px 0px;
    }

    .blog-videos {
        width: 100%;
        height: 430px;
    }

    .also-like-title {
        padding-top: 60px;
    }
} */

/* Medium Laptop View */

@media screen and (max-width: 769px) and (min-width: 600px) {

    /* .other-blogs-section {
        height: 625px;
    }

    .other-blogs-container {
        width: 540px;
    } */

    /* .blog-header-image {
        margin: 45px 0px;
    }

    .blog-videos {
        width: 100%;
        height: 327px;
    }

    #page-title {
        font-size: 31px;
    } */

    /* .also-like-title {
        padding-top: 50px;
        font-size: 26px;
    } */
}


/* Tiny Laptop View */

@media screen and (max-width: 599px) and (min-width: 450px) {

    /* .other-blogs-container {
        width: 390px;
    } */

    /* .blog-header-image {
        margin: 40px 0px;
    }

    #page-title {
        font-size: 31px;
    }

    .blog-videos {
        width: 100%;
        height: 260px;
    }

    .about-border {
        margin-top: 50px;
        margin-bottom: 40px;
    } */

    /* .also-like-card-content {
        padding: 20px 26px;
    }

    .also-like-title {
        padding-top: 50px;
        font-size: 26px;
    } */
}

/* Mobile View */

@media screen and (max-width: 449px) {

    /* .other-blogs-section {
        height: 668px;
    } */

    /* .blog-header-image {
        margin: 35px 0px;
    }
    
    #page-title {
        font-size: 26px;
    }

    .blog-videos {
        width: 100%;
        height: 193px;
    }

    .about-border {
        margin-top: 45px;
        margin-bottom: 30px;
    }

    .social-icons-body {
        margin-bottom: 60px;
    } */

    /* .also-like-title {
        width: 314px;
        font-size: 22px;
        margin: 0 auto;
        padding-top: 30px;
    }

    .also-like-card-content {
        padding: 17px 32px;
    }

    .al-card-img {
        width: 300px;
        object-fit: cover;
        height: 93px;
    } */
}


/* BLOG POST - DANNY Q&A */

/* Large laptop View */

@media screen and (max-width: 933px) and (min-width: 770px) {

    /* .blog-header-image {
        margin: 35px 0px;
    }

    .about-border {
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .social-icons-body {
        margin-bottom: 60px;
    } */
}

@media screen and (max-width: 769px) and (min-width: 600px) {

    /* .blog-header-image {
        margin: 30px 0px;
    }

    .about-border {
        margin-top: 50px;
        margin-bottom: 35px;
    }

    .social-icons-body {
        margin-bottom: 50px;
    } */
}

@media screen and (max-width: 599px) and (min-width: 450px) {

    /* .blog-header-image {
        margin: 22px 0px;
    }

    .about-border {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .social-icons-body {
        margin-bottom: 40px;
    } */
}
